<div class="top-navbar">
    <div class="nav-container">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>

        <NavLink class="nav-item" href="configurations">
            Configurations
        </NavLink>

        <NavLink class="nav-item" href="daycare">
            Daycare
        </NavLink>
    </div>
</div>