<div class="top-navbar">
    <div class="nav-container">
        <NavLink class="nav-item" href="" Match="NavLinkMatch.All">
            Home
        </NavLink>

        <NavLink class="nav-item" href="breeder">
            Breeder
        </NavLink>
    </div>
</div>