.top-navbar {
    height: 70px;
    background-color: #25292e;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-bottom: 1px solid #3d4349;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    z-index: 1000;
}

.nav-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px; /* ocupa toda la altura de la navbar */
    padding: 0 25px;
    background-color: #25292e; /* color base del bloque */
    transition: background-color 0.2s ease;
    display: inline-flex;
}

.nav-button:hover {
    background-color: #3a4048;
}