@using Microsoft.AspNetCore.Components.Rendering
@using PokeBreedr.Components.Cards
@using PokeBreedr.Components.Utils
@using PokeBreedr.Enums
@using PokeBreedr.Interfaces
@using PokeBreedr.Models
@using PokeBreedr.Dto
@using PokeBreedr.Services


<div>
        <div class="field">
            <label>Select a Configuration</label>

        <DropdownSearch Options="ConfigurationNames"
                        Value="@SelectedValue"
                        ValueChanged="OnPokemonChanged"/>
        </div>

    @if (SelectedCard != null)
    {
        <ConfigCard @key="SelectedCard.Guid"
              Model="SelectedCard"       
              DisableAll="@true" />
    }
    
</div>


@code {
    private List<DropdownOption> ConfigurationNames = new();

    [Parameter]
    public string? SelectedValue { get; set; } = null;

    [Inject]
    private IBreedConfigPersistenceService BreedConfigPersistenceService { get; set; } = default!;

    private ConfigCardInfo SelectedCard { get; set; } = null;

    protected override async Task OnInitializedAsync()
    {
        var configNames = await this.BreedConfigPersistenceService.GetAllConfigurationsName();

        foreach (string configName in configNames)
        {
            var dropdownOption = new DropdownOption();
            dropdownOption.Value = configName;
            dropdownOption.Label = configName;
            ConfigurationNames.Add(dropdownOption);
        }
    }

    private async Task OnPokemonChanged(string configurationName)
    {
        ConfigCardInfoDto? configCard = await this.BreedConfigPersistenceService.GetConfigurationByName(configurationName);

        if (configCard != null)
        {
            this.SelectedCard = new ConfigCardInfo(configCard);
            this.SelectedValue = configurationName;
        }          
    }
}