@using Microsoft.AspNetCore.Components.Rendering
@using PokeBreedr.Components.Utils
@using PokeBreedr.Enums
@using PokeBreedr.Interfaces
@using PokeBreedr.Models
@using PokeBreedr.Dto
@using PokeBreedr.Services


<div>
        <div class="field">
            <label>Select a Configuration</label>

        <DropdownSearch Options="ConfigurationNames"
                        Value="@SelectedValue"
                        ValueChanged="OnPokemonChanged"/>
        </div>
</div>


@code {
    private List<DropdownOption> ConfigurationNames = new();

    [Parameter]
    public string? SelectedValue { get; set; } = null;

    [Inject]
    private IBreedConfigPersistenceService BreedConfigPersistenceService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        var configNames = await this.BreedConfigPersistenceService.GetAllConfigurationsName();

        foreach (string configName in configNames)
        {
            var dropdownOption = new DropdownOption();
            dropdownOption.Value = configName;
            dropdownOption.Label = configName;
            ConfigurationNames.Add(dropdownOption);
        }
    }

    private async Task OnPokemonChanged(string configurationName)
    {
        Console.WriteLine("Selected configuration:" + configurationName);
        this.SelectedValue = configurationName;
    }
}