@using PokeBreedr.Dto
@using PokeBreedr.Interfaces
@using PokeBreedr.Models
@using PokeBreedr.Services
@using PokeBreedr.Components.Utils

@inject ToastService ToastService

<div class="card-list">
    <div style="width: 30%">
        <DropdownSearch
                Value=@SearchString
                DisableOptions =@(true)
                ValueChanged="OnSearchChanged">
            </DropdownSearch>
    </div>
    <div class="actions">
        <button class="add-btn" @onclick="AddCard">
            + Add Card
        </button>

        <button class="add-btn" @onclick="SaveAll">
            Save all
        </button>       
    </div>

    <Virtualize @ref="virtualizeRef" ItemsProvider="LoadItems" ItemSize="180">
        <ItemContent Context="item">
            <Card @key="item.Guid"
                    Model="item"
                    OnSave="SaveCard"
                    OnCancel="CancelCard"
                    OnDelete="DeleteCard" />
        </ItemContent>
    </Virtualize>
</div>

@code {

    [Parameter]
    public List<PokemonInfo> Items { get; set; } = new();

    [Inject]
    private IPokemonPersistenceService PokemonPersistanceService { get; set; } = default!;

    private string SearchString { get; set; } = string.Empty;

    private Virtualize<PokemonInfo>? virtualizeRef;

    private async Task AddCard()
    {
        Items.Insert(0, new PokemonInfo
        {
            IsSaved = false
        });
        await virtualizeRef!.RefreshDataAsync();
    }

    private async Task SaveCard(PokemonInfo model)
    {
        var dto = new PokemonInfoDto(model);

        await PokemonPersistanceService.Save(dto);

        model.IsSaved = true;
    }

    private async Task CancelCard(PokemonInfo model)
    {
        Items.Remove(model);
        await virtualizeRef!.RefreshDataAsync();
    }

    private async Task DeleteCard(PokemonInfo model)
    {
        await this.PokemonPersistanceService.Delete(model.Guid);

        Items.Remove(model);
        await virtualizeRef!.RefreshDataAsync();
    }

    private async Task SaveAll()
    {
        try
        {
            var pendingItems = Items.Where(x => x.Pokemon != null && x.Pokemon != string.Empty && x.Gender != null).ToList();

            foreach (var item in pendingItems)
            {
                await SaveCard(item);
            }

            await ToastService.Success("All Pokémon were saved successfully.");
        }
        catch (Exception)
        {
            await ToastService.Error("An error occurred while saving Pokémon.");
        }       
    }

    private async Task OnSearchChanged(string value)
    {
        SearchString = value;
        await virtualizeRef!.RefreshDataAsync();
    }

    private async ValueTask<ItemsProviderResult<PokemonInfo>> LoadItems(ItemsProviderRequest request)
    {
        SearchString = SearchString.Trim();
        var query = Items
            .Where(item => string.IsNullOrWhiteSpace(SearchString) ||
                    item.Name.StartsWith(SearchString, ignoreCase: true, culture: null)
                            || item.Pokemon.StartsWith(SearchString, ignoreCase: true, culture: null))
            .OrderBy(item => item.Pokemon)
            .ThenBy(item => string.IsNullOrWhiteSpace(item.Name))
            .ThenBy(item => item.Name);

        var total = query.Count();

        var items = query
            .Skip(request.StartIndex)
            .Take(request.Count)
            .ToList();

        return new ItemsProviderResult<PokemonInfo>(items, total);
    }
}