@using PokeBreedr.Models
@using PokeBreedr.Dto
@using PokeBreedr.Interfaces
@using PokeBreedr.Services

<div class="card-list">

    <div class="actions">
        <button class="add-btn" @onclick="AddCard">
            + Añadir Card
        </button>

        <button class="add-btn" @onclick="SaveAll">
            Guardar todo
        </button>

        <button class="add-btn" @onclick="Combine">
            Combinar todo
        </button>
    </div>

    @foreach (var item in Items)
    {
        <Card @key="item.Guid"
              Model="item"
              OnSave="SaveCard"
              OnCancel="CancelCard"
              OnDelete="DeleteCard" />
    }

</div>

@code {

    [Parameter]
    public List<PokemonInfo> Items { get; set; } = new();

    [Inject]
    private IPokemonPersistenceService PokemonPersistanceService { get; set; } = default!;

    [Inject]
    private BreederService BreederService { get; set; } = default!;

    private void AddCard()
    {
        Items.Insert(0, new PokemonInfo
        {
            IsSaved = false
        });
    }

    private async Task SaveCard(PokemonInfo model)
    {
        var dto = new PokemonInfoDto(model);

        await PokemonPersistanceService.Save(dto);

        model.IsSaved = true;
    }

    private void CancelCard(PokemonInfo model)
    {
        Items.Remove(model);
    }

    private void DeleteCard(PokemonInfo model)
    {
        this.PokemonPersistanceService.Delete(model.Guid);

        Items.Remove(model);
    }

    private async Task SaveAll()
    {
        var pendingItems = Items.Where(x => x.Pokemon != null && x.Pokemon != string.Empty && x.Gender != null).ToList();

        foreach (var item in pendingItems)
        {
            await SaveCard(item);
        }
    }

    private async Task Combine()
    {
        var dtos = new List<PokemonInfoDto>();

        foreach (var item in Items)
        {
            dtos.Add(new PokemonInfoDto(item));
        }

        ConfigCardInfoDto config = new ConfigCardInfoDto();

        config.AlfaFilter = Enums.AlphaFilterEnum.All;

        config.MinHpIv = 25;
        config.MaxHpIv = 31;

        config.MinAttackIv = 31;
        config.MaxAttackIv = 31;

        config.MinDefenseIv = 31;
        config.MaxDefenseIv = 31;

        config.MinSpAttackIv = 15;
        config.MaxSpAttackIv = 31;

        config.MinSpDefenseIv = 31;
        config.MaxSpDefenseIv = 31;

        config.MinSpeedIv = 31;
        config.MaxSpeedIv = 31;

        config.SelectedNatures.Add("Modest");
        this.BreederService.BreedPokemons(dtos, config);
    }
}