@using PokeBreedr.Models
@using PokeBreedr.Dto
@using PokeBreedr.Interfaces
@using System.Text.Json;

<div class="card-list">

    <div class="actions">
        <button class="add-btn" @onclick="AddCard">
            + Añadir Card
        </button>

        <button class="add-btn" @onclick="SaveAll">
            Guardar todo
        </button>
    </div>

    @if (errorOnSave)
    {
        <div>
            One or more configurations could not be saved.
        </div>
    }

    @foreach (var item in Items)
    {
        <ConfigCard @key="item.Guid"
              Model="item"
              OnSave="SaveCard"
              OnCancel="CancelCard"
              OnDelete="DeleteCard" />
    }

</div>

@code {

    [Parameter]
    public List<ConfigCardInfo> Items { get; set; } = new();

    private bool errorOnSave;

    [Inject]
    private IBreedConfigPersistenceService BreedConfigPersistenceService { get; set; } = default!;

    private void AddCard()
    {
        Items.Insert(0, new ConfigCardInfo
        {
            IsSaved = false
        });
    }

    // wrapper para que OnSave="SaveCard" funcione
    // Podria ser OnSave="@(model => SaveCard(model, false))"
    private Task SaveCard(ConfigCardInfo model)
    {
        return SaveCard(model, false);
    }


    private async Task SaveCard(ConfigCardInfo model, bool setGLobalError)
    {
        bool isNameUnique = await BreedConfigPersistenceService.CheckIfNameUniqueAndNotEmpty(model.ConfigName, model.Guid);
        if (isNameUnique)
        {
            model.ValidationError = string.Empty;
            var dto = new ConfigCardInfoDto(model);

            await BreedConfigPersistenceService.Save(dto);

            model.IsSaved = true;
            model.Guid = dto.Guid;
        }
        else
        {
            model.ValidationError = "The configuration name already exists or is empty.";
            errorOnSave = setGLobalError && true;
        } 
    }

    private void CancelCard(ConfigCardInfo model)
    {
        Items.Remove(model);
    }

    private void DeleteCard(ConfigCardInfo model)
    {
        if (model.Guid.HasValue)
        {
            this.BreedConfigPersistenceService.Delete(model.Guid.Value);
        }        

        Items.Remove(model);
    }

    private async Task SaveAll()
    {
        errorOnSave = false;

        foreach (var item in Items)
        {
            await SaveCard(item, true);
        }
    }
}