@using PokeBreedr.Models

<select class="dropdown"
        @bind="CurrentValue">

    @if (AllowEmpty)
    {
        <option value="">-- Selecciona una opción --</option>
    }

    @foreach (var option in Options)
    {
        <option value="@option.Value">
            @option.Label
        </option>
    }
</select>

@code {

    [Parameter]
    public List<DropdownOption> Options { get; set; } = new();

    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public EventCallback<string?> ValueChanged { get; set; }

    [Parameter]
    public bool AllowEmpty { get; set; } = true;

    private string? CurrentValue
    {
        get => Value;
        set => ValueChanged.InvokeAsync(value);
    }
}