/* INPUT CUADRADO */
.value-input {
    width: 42px;
    height: 42px;
    padding: 0;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    border: 1px solid #bbb;
    border-radius: 6px;
}

/*.iv-row {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
} */

.iv-row {
    display: grid;
    grid-template-columns: 90px 1fr 60px;
    align-items: center;
    gap: 8px;
    max-width: 350px;
}

.iv-center {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: center;
    font-size: 14px;
}

.iv-title {
    min-width: 90px; /* opcional para alinear títulos */
    font-weight: bold;
}

.vertical-button {
    width: 42px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 6px;
    background: white;
    cursor: pointer;
    font-weight: bold;
    transition: 0.15s ease;
    font-size: 14px;
}

.vertical-button:hover {
    background: #f3f3f3;
    transform: translateY(-1px);
}

.vertical-button:disabled {
    background: #eee;
    cursor: default;
    opacity: 0.6;
}