@page "/configurations"
@using PokeBreedr.Components
@using PokeBreedr.Components.Cards

<PageTitle>Configurations</PageTitle>

@if (isLoading)
{
	<p>Loading...</p>
}
else
{
	<ConfigCardList Items=cards />
}