@page "/importexport"

@using Microsoft.AspNetCore.Components.Forms

<h3>Import / Export</h3>

<div class="d-flex gap-2">

    <InputFile OnChange="ImportCsv" accept=".csv" />

    <button class="btn btn-success"
            @onclick="ExportResultCsv"
            disabled="@(!importFinished)">
        Download result
    </button>

    <button class="btn btn-primary" @onclick="ExportCsv">
        Exportar CSV
    </button>

</div>
