@page "/test"
@using PokeBreedr.Components
@using PokeBreedr.Components.Cards
@using PokeBreedr.Model

<PageTitle>Counter</PageTitle>

<h1>Test My first component</h1>

<MyFirstComponent/>
<CardList Items=cards/>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

}

@code {
    List<CardModel> cards = new()
    {
        new CardModel(),
        new CardModel(),
        new CardModel(),
        new CardModel(),
        new CardModel(),
        new CardModel(),
        new CardModel(),
    };
}
