@page "/test"
@using PokeBreedr.Components
@using PokeBreedr.Components.Cards

<PageTitle>Counter</PageTitle>

<h1>Test My first component</h1>
@if(isLoading)
{
	<p>Loading...</p>
}
else 
{
	<MyFirstComponent />
	<CardList Items=cards />
}
